/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: 'Raleway', sans-serif;
		font-weight: normal;letter-spacing: 0px; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 20px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 20px; }
	h3 { font-size: 25px; line-height: 34px; margin-bottom: 20px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 10px; }
	h5 { font-size: 17px; line-height: 24px; margin-bottom: 10px; }
	h6 { font-size: 14px; line-height: 21px; margin-bottom: 10px; }
	.subheader { color: #777; }
	
	p { margin: 0 0 20px 0; line-height: 25px !important;}
	p img { margin: 0; }
	img.left { float: left; margin-bottom: 20px; margin-right: 20px;}
	img.right { float: right; margin-bottom: 20px; margin-left: 20px;}
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 14px; line-height: 24px; color: #777; font-style: italic;  }
	blockquote { margin: 20px 0px 20px 0px; padding: 0 20px 0 20px; border-left: 3px solid #3899b5; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul.tick { list-style: none; }
	ul.tick li { background: url('../images/stuff/check.png') no-repeat; padding-left: 25px; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	a.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		border: 2px solid #555;
		padding-left: 20px; padding-right: 20px; padding-top: 9px !important; padding-bottom: 9px;
		margin:0;
		color: #555;
		text-decoration: none;
		line-height: 20px;
		font-size: 14px;
		font-weight: bold;
        letter-spacing: 0px;	
		font-family: 'Raleway', sans-serif;
        background-color: #f1f1f1;
		}

	a.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	    background: #39B3E1; 
  	    color: #fff;		
		/* background: #fdc53e;  Old browsers */
		}

	a.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		color: # !important;
		background: #; /* Old browsers */
		}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
		
	/*SMALL BLUE BUTTON*/

.btn_smallblue {
	/*Basics*/
	display: block;
	cursor: pointer;
	padding: 6px 15px;
	text-align: center;
	font: bold 13px/150% "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	color: #ffffff !important;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #1D88B9;
	text-shadow: 0px -1px 0px #0E5E85;
	
	/*Shadows*/
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
		
	/*Gradient*/
	background: #8ed2e8; /* Old browsers */
	background: -moz-linear-gradient(top, #8ed2e8 0%, #0099cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ed2e8), color-stop(100%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8ed2e8 0%,#0099cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8ed2e8 0%,#0099cc 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #8ed2e8 0%,#0099cc 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ed2e8', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #8ed2e8 0%,#0099cc 100%); /* W3C */
}

.btn_smallblue:hover {
    color: #ffffff !important;
	background: #b4e1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #b4e1f9 0%, #31acd8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e1f9), color-stop(100%,#31acd8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b4e1f9 0%,#31acd8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b4e1f9 0%,#31acd8 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b4e1f9 0%,#31acd8 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e1f9', endColorstr='#31acd8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b4e1f9 0%,#31acd8 100%); /* W3C */
}

a.btn_smallblue:hover {
    color: #ffffff !important;
}

.btn_smallblue:active {
    color: #ffffff !important;
	background: #0099cc; /* Old browsers */
	background: -moz-linear-gradient(top, #0099cc 0%, #8ed2e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099cc), color-stop(100%,#8ed2e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0099cc 0%,#8ed2e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0099cc 0%,#8ed2e8 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #0099cc 0%,#8ed2e8 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099cc', endColorstr='#8ed2e8',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #0099cc 0%,#8ed2e8 100%); /* W3C */
}


/* Green button */

.btn_smallgreen {
	/*Basics*/
	display: block;
	cursor: pointer;
	padding: 6px 15px;
	text-align: center;
	font: bold 13px/150% "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	color: #ffffff !important;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #319A00;
	text-shadow: 0px -1px 0px #1C7B00;
	
	/*Shadows*/
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
		
	/*Gradient*/
	background: #b5e978; /* Old browsers */
	background: -moz-linear-gradient(top, #b5e978 0%, #43c600 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5e978), color-stop(100%,#43c600)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5e978 0%,#43c600 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5e978 0%,#43c600 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b5e978 0%,#43c600 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5e978', endColorstr='#43c600',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b5e978 0%,#43c600 100%); /* W3C */
}

.btn_smallgreen:hover {
	background: #e0f591; /* Old browsers */
	background: -moz-linear-gradient(top, #e0f591 0%, #6cd226 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f591), color-stop(100%,#6cd226)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e0f591 0%,#6cd226 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e0f591 0%,#6cd226 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e0f591 0%,#6cd226 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f591', endColorstr='#6cd226',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e0f591 0%,#6cd226 100%); /* W3C */
}

a.btn_smallgreen:hover {
    color: #ffffff !important;
}

.btn_smallgreen:active {
    
	background: #43c600; /* Old browsers */
	background: -moz-linear-gradient(top, #43c600 0%, #b5e978 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43c600), color-stop(100%,#b5e978)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #43c600 0%,#b5e978 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #43c600 0%,#b5e978 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #43c600 0%,#b5e978 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43c600', endColorstr='#b5e978',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #43c600 0%,#b5e978 100%); /* W3C */
}

/* Red button*/

.btn_smallred {
	/*Basics*/
	display: block;
	cursor: pointer;
	padding: 6px 15px;
	text-align: center;
	font: bold 13px/150% "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	color: #ffffff !important;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #950014;
	text-shadow: 0px -1px 0px #950014;
	
	/*Shadows*/
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
	-webkit-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25), 0px 1px 2px rgba(0,0,0,0.25);
		
	/*Gradient*/
	background: #e36077; /* Old browsers */
	background: -moz-linear-gradient(top, #e36077 0%, #b90013 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e36077), color-stop(100%,#b90013)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e36077 0%,#b90013 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e36077 0%,#b90013 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e36077 0%,#b90013 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e36077', endColorstr='#b90013',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e36077 0%,#b90013 100%); /* W3C */
}

.btn_smallred:hover{
	background: #e77388; /* Old browsers */
	background: -moz-linear-gradient(top, #e77388 0%, #c41c2f 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e77388), color-stop(99%,#c41c2f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e77388 0%,#c41c2f 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e77388 0%,#c41c2f 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e77388 0%,#c41c2f 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77388', endColorstr='#c41c2f',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e77388 0%,#c41c2f 99%); /* W3C */
}

a.btn_smallred:hover {
    color: #ffffff !important;
}

.btn_smallred:active {
	background: #b90013; /* Old browsers */
	background: -moz-linear-gradient(top, #b90013 0%, #e36077 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b90013), color-stop(99%,#e36077)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b90013 0%,#e36077 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b90013 0%,#e36077 99%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #b90013 0%,#e36077 99%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90013', endColorstr='#e36077',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #b90013 0%,#e36077 99%); /* W3C */
}


	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Tabs (activate in tabs.js)
================================================== */
	ul.tabs {
		display: block;
		margin: 0;
		padding: 0;
		 }
	ul.tabs li {
		display: block;
		width: auto;
		height: 36px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
	ul.tabs li a {
		display: block;
		text-decoration: none;
		border: solid 1px #bbb;
		width: auto;
		height: 35px;
		padding: 5px 20px;
		font-weight: 700;
		line-height: 36px;
		margin: 0;
		font-size: 16px;
		margin: 0 10px 0 0px;
		color: #777; }
    ul.tabs li a:hover { color:#3899b5 !important;}
	ul.tabs li a.active {
	    border: solid 1px #3899b5;
		position: relative;
		color: #3899b5;
		font-weight: bold;}
	/*ul.tabs li a.active {
		margin-left: 0; 
		-moz-border-radius-topleft: 3px;
		-webkit-border-top-left-radius: 3px;
		border-top-left-radius: 3px;
		
		-moz-border-radius-topright: 3px;
		-webkit-border-top-right-radius: 3px;
		border-top-right-radius: 3px;
		}*/
    ul.tabs li i { margin-right: 10px;}
	ul.tabs-content { margin: 0; display: block;  border-top: 0;  padding-top: 40px; padding-bottom: 0;  margin-bottom: 20px;}
	/*border: solid 1px #ddd; background: #f6f6f6;  padding: 20px;  */
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block !important; margin: 0px !important; }
	ul.tabs-content > li:first-child {display: block;}

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }

/* #Forms
================================================== */

	form {
		margin-bottom: 0px !important; margin-top: 25px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
    .left { float: left; }
	.right { float: right; }


